AGENT_ENVIRONMENT=development
AGENT_LOG_LEVEL=INFO
AGENT_TRACING_ENABLED=false
AGENT_MAX_CONCURRENT_RESEARCH=1
AGENT_HTTP_TIMEOUT_SECONDS=30
STOCK_PLATFORM_BASE_URL=http://127.0.0.1:8080
STOCK_PLATFORM_API_TOKEN=
AI_ROUTER_BASE_URL=http://127.0.0.1:8000
AI_ROUTER_API_KEY=
AI_ROUTER_LOGICAL_MODEL=local-router

